/* 
&display=swap
&subset=cyrillic-ext 
*/
/*@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
/**,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; 
}
body {
	line-height: 1;
	color: #000;
	font-family:"";
	font-family: "Roboto";

}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	margin: 0px auto;
	width: 1000px;
}*/
/* ------------------------------ */

	
